#typewriter {
    font-weight: normal;
	font-size: 6em;
    font-style: italic;
    text-align: center;
    color: mediumseagreen;
    margin-top: .05em;
    overflow: hidden; 
    white-space: nowrap; 
    margin: 0 auto; 
    line-height: 1.3em;
    letter-spacing: .02em; 
    animation: 
        typing 3.5s steps(30, end);
}

#notypewriter{
	font-weight: normal;
	font-size: 6em;
    font-style: italic;
    text-align: center;
    color: mediumseagreen;
    margin-top: .05em;
    overflow: hidden; 
    white-space: nowrap; 
    margin-bottom: 0; 
    letter-spacing: .02em;
}

#welcome{
	text-align: center; 
}


#help {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@keyframes typing {
  from { width: 0% }
  to { width: 75% }
}

#smallTitle {
    font-size: 2em;
    font-style: italic;
    color: mediumseagreen;
	text-align: center;
	margin: 0
}

#littleguy{
    font-size:1em;
}

#linkButton{
	text-align: center; 
}

.linkbutton {
	background-color: lightpink;
	color: darkolivegreen;
  	padding: 2px 6px 2px 6px;
  	border-top: 1px solid #CCCCCC;
  	border-right: 1px solid #333333;
  	border-bottom: 1px solid #333333;
  	border-left: 1px solid #CCCCCC;
	text-align: center;
}

.linkbutton:hover {
	transition: color 0.2s linear;
   -webkit-transition: color 0.2s linear;
   -moz-transition: color 0.2s linear;
	color: darkolivegreen;
	background-color: lightcoral;
}


#csbutton{
	position:absolute;
    left: 26%;
}

#theaterbutton{
	position:absolute;
	right: 26%;
}


body {
    font-family: "Arial", sans-serif;
    margin:15 auto;
    width: 100%;
   	background-color: #ffdce2;

}

.intro {
    float:left;
    width: 65%;
	overflow: hidden;
    color: forestgreen;

}

.intro p {
	padding-left:15px;
    padding-right: 15px;
}

.side {
    float:right;
    width: 30%;
}

.side img {
    margin-top: 30px;
}

footer ul {
    font-family: "Arial", sans-serif;
    margin-right:0;
    list-style: none;
    font-weight: bold;
}

footer ul li {
	margin-left:44px;
    margin-right: 15px;
	font-size:1.3em;
	color:black;
    display: inline;
	width:100%;
}


a {
    text-decoration: none;
	color: darkgreen;
    transition: color 0.1s linear;
   -webkit-transition: color 0.1s linear;
   -moz-transition: color 0.1s linear;

}

a:hover {
    color: lightgreen;
}


p {
    font-size: 1.3em;
    font-family: "Arial", sans-serif;
    line-height: 1.3em;
    color: #30a162;
}

footer {
    font-size: .8em;
}

#top, #bottom, #left, #right {
	background: white;
	position: fixed;
}
#left, #right {
	top: 0; bottom: 0;
	width: 15px;
}
#left { left: 0; }
#right { right: 0; }
		
#top, #bottom {
	left: 0; right: 0;
	height: 15px;
}
#top { top: 0; }
#bottom { bottom: 0; }
