@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300');

.actorDiv {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  margin-left: 1em;
  font-size: 1.5em;
}

.actorParagraph {
  margin-bottom: 1em;
}

/* https://lenadesign.org/2021/03/05/pure-css-rainbow-text-animation/ */
.rainbowText {
  background-image: 
    linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  animation: move 35s linear infinite;
}

@keyframes move {
  to {
    background-position: 50em;
  }
}

a {
  text-decoration: none;
}

.socialButton {
  all: unset;
	color: #8a3ab9;
	cursor: pointer;
}

.socialButton:focus-visible {
  outline: auto;
}